@model PPETracker.ViewModels.CreateShipmentCommand

@{
    ViewData["Title"] = "Create Shipment";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css">
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

<h1>Create Shipment</h1>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduledShipDate" class="control-label bold-label"></label>
                <input type="text" name="ScheduledShipDate" id="scheduled-ship-date" class="form-control" value="@Model.ScheduledShipDate.ToString("MM/dd/yy")" />
                <span asp-validation-for="ScheduledShipDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientID" class="control-label bold-label"></label><br />
                <select asp-for="RecipientID" asp-items="Model.RecipientSelectionList">
                    <option value="" disabled selected>--Select recipient--</option>
                </select><br />
                <span asp-validation-for="RecipientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label bold-label"></label>
                <textarea asp-for="Comments" class="form-control"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="bold-label text-center">Available Products</label><br />

                <label class="control-label">Filter by Category:</label>
                <select asp-items="@Model.CategoryList" id="categoryDropdown" style="margin-bottom: 20px;">
                    <option value="--All--" selected>--All--</option>
                </select><br />
            </div>
        </div>
    </div>
        <!--div to hide/show table when category selected-->
        <div class="row" id="available-ppe-item-table">
            <div class="col-sm-12">
                <table class="table" id="ppe-table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Photo
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Brand
                            </th>
                            <th>
                                Quantity Available
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.AvailableProductList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    <img src="@item.PhotoLink" width="100" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    <button class="btn btn-info btn-responsive" onclick="ViewProductDetails('@item.ID')">Details</button>
                                    <button class="btn btn-success btn-responsive" id="addButton">Add</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--Table shows products selected-->
        <div class="row" id="selected-ppe-item-table" style="margin-top: 25px;">
            <label class="bold-label text-center">Selected Products</label><br />
            <div class="col-sm-12">
                <table class="table" id="selected-ppe-table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Photo
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Brand
                            </th>
                            <th>
                                Quantity to Ship
                            </th>
                            <th>
                                Quantity Available
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--hidden form input-->
        @for (int i = 0; i < Model.ProductSelection.Count; i++)
        {
            <input type="hidden" name="ProductSelection[@i].ProductID" value="@Model.ProductSelection[i].ProductID" id="@Model.ProductSelection[i].ProductID" />
            <input type="hidden" name="ProductSelection[@i].QuantityForOrder" value="@Model.ProductSelection[i].QuantityForOrder" />
        }

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-action="Dashboard" asp-controller="Shipments" class="btn btn-secondary">Cancel</a>
        </div>
</form>

<!-- Product details modal goes here -->
<div id="prodDetails"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $(function () {
                $("#scheduled-ship-date").datepicker();
            });

            var ppeTable = $('#ppe-table').DataTable();

            $('#categoryDropdown').on("change", function () {
                var selectedCat = $('#categoryDropdown').val();
                if (selectedCat == "--All--") {
                    ppeTable
                        .column(3)
                        .search('', true, false)
                        .draw();
                }
                else {
                    ppeTable
                        .column(3)
                        .search('^(' + selectedCat + ')$', true, false)
                        .draw();
                }
            });

            $('#ppe-table tbody').on('click', '#addButton', function (event) {
                event.preventDefault();
                //get row data
                //remove row from available table
                //create a new row element to add to selected table - update quantity to 1
                //add row to selected table
                //update hidden table with quantity

                var currentRow = $(this).closest("tr");

                var col1 = currentRow.find("td:eq(0)").html(); // get ID
                var col2 = currentRow.find("td:eq(1)").html(); // get photo
                var col3 = currentRow.find("td:eq(2)").html(); // get name
                var col4 = currentRow.find("td:eq(3)").html(); // get category
                var col5 = currentRow.find("td:eq(4)").html(); // get brand
                var col6 = currentRow.find("td:eq(5)").html(); // get quantity available

                var drRow = ppeTable.row($(this).parents("tr"));
                drRow.remove();
                ppeTable.draw(false);

                var idNum = parseInt(col1);

                $("#selected-ppe-table").append("<tr><td>" + col1 + "</td><td>" + col2 + "</td><td>" + col3 + "</td><td>" + col4 + "</td><td>" + col5 + "</td><td><input type='text' class='quantityUpdate' value='1'></td><td>" + col6 + "</td><td><button class='btn btn-info btn-responsive' onclick='ViewProductDetails(\"" + idNum + "\")'>Details</button><button class='btn btn-danger btn-responsive remove'>Remove</button></td></tr> ");

                $("#" + idNum).next().val(1);
                myVal = $("#" + idNum).next().val();
            });

            $("#selected-ppe-table tbody").on('change', '.quantityUpdate', function (event) {
                //on change of quantity, update hidden form field for this product
                var updatedValue = $(this).val();
                var numToOrder = parseInt(updatedValue);

                var currentRow = $(this).closest("tr");

                var seventhCol = currentRow.find("td:eq(6)").html();
                var numAvail = parseInt(seventhCol);

                var firstCol = currentRow.find("td:eq(0)").html();
                var idNum = parseInt(firstCol);


                if (numToOrder == 0) {
                    alert("Quantity cannot be 0. Please remove item or change quantity.");
                    var prevQuantity = $("#" + idNum).next().val();
                    $(this).val(prevQuantity);
                }
                else if (numToOrder > numAvail) {
                    alert("Quantity selected to order greater than quantity available. Please change quantity.");
                    var prevQuantity = $("#" + idNum).next().val();
                    $(this).val(prevQuantity);
                }
                else {
                    $("#" + idNum).next().val(updatedValue);
                    myVal = $("#" + idNum).next().val();
                }
            });

            $("#selected-ppe-table tbody").on('click', '.remove', function (event) {
                //on click of remove button
                //- update hidden form field for this product - set quantity back to 0
                //- get data and create a row to add back to available products
                //- add item back to available products
                var currentRow = $(this).closest("tr");

                var col1 = currentRow.find("td:eq(0)").html(); // get ID
                var col2 = currentRow.find("td:eq(1)").html(); // get photo
                var col3 = currentRow.find("td:eq(2)").html(); // get name
                var col4 = currentRow.find("td:eq(3)").html(); // get category
                var col5 = currentRow.find("td:eq(4)").html(); // get brand
                var col6 = currentRow.find("td:eq(6)").html(); // get quantity available

                var idNum = parseInt(col1);

                $("#" + idNum).next().val(0);
                myVal = $("#" + idNum).next().val();

                //remove from selected table
                currentRow.remove();

                ppeTable.row.add([
                    col1,
                    "<img src='" + col2 + "' width='100' />",
                    col3,
                    col4,
                    col5,
                    col6,
                    "<button class='btn btn-info btn-responsive' onclick='ViewProductDetails(\"" +idNum+ "\")'>Details</button>"
                    + "<button class='btn btn-success btn-responsive' id='addButton'>Add</button>"
                ]);
                ppeTable.draw(false);
            });


            $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
                });
        });

        function ViewProductDetails(idNum) {
            event.preventDefault();
            //call controller action to get product details and return partial view
            var url = '@Url.Action("Details", "Products")?productID=' + idNum;
            $('#prodDetails').load(url,
                function () {
                    //display modal
                    $('#prodDetailsModal').modal('show');
                }
            );
        }
    </script>
}
