@model IEnumerable<PPETracker.ViewModels.ShipmentSummaryViewModel>

@{
    ViewData["Title"] = "Shipments";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css">

<style>
    .pull-left {
        float: left !important;
    }
</style>
<h1 class="text-center">Shipments</h1>

<div class="container">

    <div class="row">
        <div class="col-sm-2">
            <a asp-action="Create" class="btn btn-success" style="margin-bottom: 20px !important;">Add New</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <label class="control-label">Filter by Shipped Status: </label>
            <select id="shipStatusDropdown" style="margin-bottom: 20px;">
                <option value="--All--" selected>--All--</option>
                <option value="No">Unshipped</option>
                <option value="Yes">Shipped</option>
            </select><br />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table" id="shipments-table" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShippedStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ScheduledShipDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActualShipDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RecipientName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @if(item.ShippedStatus == "Y")
                                {
                                    @Html.Raw("Yes")
                                }
                                else
                                {
                                    @Html.Raw("No")
                                }
                            </td>
                            <td>
                                @item.ScheduledShipDate.ToString("MM/dd/yy")
                            </td>
                            <td>
                                @string.Format("{0:MM/dd/yy}", item.ActualShipDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RecipientName)
                            <td>
                                @if (item.ShippedStatus == "N")
                                {
                                    <button class="btn btn-success btn-responsive" onclick="ShipShipment('@item.ID')">Ship</button>
                                }
                                else
                                {
                                    <button class="btn btn-success btn-responsive" disabled>Ship</button>
                                }
                                <button class="btn btn-info btn-responsive" onclick="ViewShipmentDetails('@item.ID')">Details</button>
                                @if (item.ShippedStatus == "N")
                                {
                                    @Html.ActionLink("Edit", "Edit", "Shipments", new { id = item.ID }, new { @class = "btn btn-primary btn-responsive" })
                                    <button class="btn btn-danger btn-responsive" onclick="DeleteShipment('@item.ID')">Delete</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-responsive" disabled>Edit</button>
                                    <button class="btn btn-danger btn-responsive" disabled>Delete</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table> 
        </div>
    </div>
</div>

<!-- Ship shipment modal goes here -->
<div id="shipShipment"></div>

<!-- Shipment details modal goes here -->
<div id="shipDetails"></div>

<!--Shipment delete modal goes here-->
<div id="shipDelete"></div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            var shipTable = $('#shipments-table').DataTable({
                "order": [[1, "asc"]],
                "dom": '<"pull-left"f>ti',
                "paging": false
            });

            $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
                });

            $('#shipStatusDropdown').on("change", function () {
                var selectedStatus = $('#shipStatusDropdown').val();
                if (selectedStatus == "--All--") {
                    shipTable
                    .column(1)
                    .search('', true, false)
                    .draw();
                }
                else {
                    shipTable
                        .column(1)
                        .search('^(' + selectedStatus + ')$', true, false)
                        .draw();
                }
            });
        });

        function ShipShipment(idNum) {
            //call controller action to get product details and return partial view
            var url = '@Url.Action("Ship", "Shipments")?shipmentID=' + idNum;
            $('#shipShipment').load(url,
                function () {
                    //display modal
                    $('#shipShipmentModal').modal('show');
                }
            );
        }

        function ViewShipmentDetails(idNum) {
            //call controller action to get shipment details and return partial view
            var url = '@Url.Action("Details", "Shipments")?shipmentID=' + idNum;
            $('#shipDetails').load(url,
                function () {
                    //display modal
                    $('#shipDetailsModal').modal('show');
                }
            );
        }

        function DeleteShipment(idNum) {
            //call controller action to get product details and return partial view
            var url = '@Url.Action("Delete", "Shipments")?shipmentID=' + idNum;
            $('#shipDelete').load(url,
                function () {
                    //display modal
                    $('#deleteShipmentModal').modal('show');
                }
            );
        }
    </script>

}
