@model IEnumerable<PPETracker.ViewModels.ProductSummaryViewModel>

@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css">

<style>
    .pull-left {
        float: left !important;
    }
</style>
<h1 class="text-center">Dashboard</h1>

<div class="container">
    @if (ViewBag.IsUserAdmin == true)
    {
        <div class="row">
            <div class="col-sm-2">
                <a asp-action="AddNew" class="btn btn-success" style="margin-bottom: 20px !important;">Add New</a>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <label class="control-label">Filter by Category: </label>
            <select id="categoryDropdown" asp-items="ViewBag.CategoryOptions" style="margin-bottom: 20px;">
                <option value="--All--" selected>--All--</option>
            </select><br />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table" id="ppe-table" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PhotoLink)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Brand)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item.PhotoLink" width="100" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                                @if (ViewBag.IsUserAdmin == true)
                                {
                                    <button class="btn btn-primary btn-responsive" style="margin-left: 10px;" onclick="EditProductQuantity('@item.ID')">Edit</button>
                                }
                            </td>
                            <td>
                                <button class="btn btn-info btn-responsive" onclick="ViewProductDetails('@item.ID')">Details</button>
                                @if (ViewBag.IsUserAdmin == true)
                                {
                                    @Html.ActionLink("Edit Product", "Edit", "Products", new { id = item.ID }, new { @class = "btn btn-primary btn-responsive" })
                                    <button class="btn btn-danger btn-responsive" onclick="DeleteProduct('@item.ID')">Delete</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (ViewBag.IsUserAdmin == true)
    {
        <div class="row">
            <div class="col-sm-4">
                <a asp-action="DeactivatedProducts" class="btn btn-sm btn-secondary" style="margin: 20px 0px;">Deactivated Products</a>
            </div>
        </div>
    }
</div>

<!-- Product quantity modal goes here -->
<div id="updateProdQuantity"></div>

<!-- Product details modal goes here -->
<div id="prodDetails"></div>

<!--Product delete modal goes here-->
<div id="prodDelete"></div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            var ppeTable = $('#ppe-table').DataTable({
                "order": [[1, "asc"]],
                "dom": '<"pull-left"f>ti',
                "paging": false,
                //settings for responsive view - no details button and column priority
                responsive: { details: false },
                columns: [
                    { responsivePriority: 3 },
                    { responsivePriority: 1 },
                    { responsivePriority: 4 },
                    { responsivePriority: 6 },
                    { responsivePriority: 2 },
                    { responsivePriority: 2 }
                ]
            });

            $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
                });

            $('#categoryDropdown').on("change", function () {
                var selectedCat = $('#categoryDropdown').val();
                if (selectedCat == "--All--") {
                    ppeTable
                    .column(2)
                    .search('', true, false)
                    .draw();
                }
                else {
                    ppeTable
                        .column(2)
                        .search('^(' + selectedCat + ')$', true, false)
                        .draw();
                }
            });
        });

        function EditProductQuantity(idNum) {
            //call controller action to get product details and return partial view
            var url = '@Url.Action("UpdateProductQuantity", "Products")?productID=' + idNum;
            $('#updateProdQuantity').load(url,
                function () {
                    $.validator.unobtrusive.parse("#updateQuantityModal");
                    //display modal
                    $('#updateQuantityModal').modal('show');
                }
            );
        }

        function ViewProductDetails(idNum) {
            //call controller action to get product details and return partial view
            var url = '@Url.Action("Details", "Products")?productID=' + idNum;
            $('#prodDetails').load(url,
                function () {
                    //display modal
                    $('#prodDetailsModal').modal('show');
                }
            );
        }

        function DeleteProduct(idNum) {
            //call controller action to get product details and return partial view
            var url = '@Url.Action("Delete", "Products")?productID=' + idNum;
            $('#prodDelete').load(url,
                function () {
                    //display modal
                    $('#productDeleteModal').modal('show');
                }
            );
        }
    </script>

}