@model IEnumerable<PPETracker.ViewModels.ProductSummaryViewModel>

@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

<h1>Dashboard</h1>

<p>
    <a asp-action="AddNew" class="btn btn-sm btn-success">Add New</a>
</p>
<table class="table" id="ppe-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.PhotoLink" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <button class="btn btn-sm btn-primary" style="margin-left: 10px;" onclick="EditProductQuantity('@item.ID')">Edit</button>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Products", new { id = item.ID }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Edit Product", "Edit", "Products", new { id = item.ID }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "Products", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Product quantity modal goes here -->
<div id="updateProdQuantity"></div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#ppe-table').DataTable({
                "order": [[1, "asc"]]
            });

            $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
                });
        });

        function EditProductQuantity(idNum) {
            //call controller action to get product details and return partial view
            var url = '@Url.Action("UpdateProductQuantity", "Products")?productID=' + idNum;
            $('#updateProdQuantity').load(url,
                function () {
                    $.validator.unobtrusive.parse("#updateQuantityModal");
                    //display modal
                    $('#updateQuantityModal').modal('show');
                }
            );
        }
    </script>

}