@model IEnumerable<PPETracker.ViewModels.ProductSummaryViewModel>

@{
    ViewData["Title"] = "Deactivated Products";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css">

<style>
    .pull-left {
        float: left !important;
    }
</style>
<h1 class="text-center">Deactivated Products</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <label class="control-label">Filter by Category: </label>
            <select id="categoryDropdown" asp-items="ViewBag.CategoryOptions" style="margin-bottom: 20px;">
                <option value="" selected>--All--</option>
            </select><br />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table" id="ppe-table-deactivated">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PhotoLink)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Brand)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item.PhotoLink" width="100" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" onclick="ReactivateProduct('@item.ID')">Reactivate</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a asp-action="Dashboard" class="btn btn-sm btn-secondary" style="margin: 20px 0px;">Active Products</a>
        </div>
    </div>
</div>

<!--Product reactivate modal goes here-->
<div id="prodReactivate"></div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            var ppeTable = $('#ppe-table-deactivated').DataTable({
                "order": [[1, "asc"]],
                "dom": '<"pull-left"f>ti',
                "paging": false,
                //settings for responsive view - no details button and column priority
                responsive: { details: false },
                columns: [
                    { responsivePriority: 3 },
                    { responsivePriority: 1 },
                    { responsivePriority: 4 },
                    { responsivePriority: 6 },
                    { responsivePriority: 2 },
                    { responsivePriority: 2 }
                ]
            });

            $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
                });

            $('#categoryDropdown').on("change", function () {
                var selectedCat = $('#categoryDropdown').val();
                if (selectedCat == "--All--") {
                    ppeTable
                        .column(2)
                        .search('', true, false)
                        .draw();
                }
                else {
                    ppeTable
                        .column(2)
                        .search('^(' + selectedCat + ')$', true, false)
                        .draw();
                }
            });
        });

        function ReactivateProduct(idNum) {
            //call controller action to get product details and return partial view
            var url = '@Url.Action("Reactivate", "Products")?productID=' + idNum;
            $('#prodReactivate').load(url,
                function () {
                    //display modal
                    $('#productReactivateModal').modal('show');
                }
            );
        }
    </script>

}